* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--font: 'Poppins', sans-serif;
	--text-color: #ffffff;
	--assents-color: #3e54ac;
	--input-bg: #404040;
	--text-color2: #555555;
	--bgColor: #0d0d0d;

	--red: #ff1e1e;
	--thriller: #91050d;
	--blue: #3330e4;
	--purple: #4e31aa;
	--green: #03c988;
	--green-vintage: #76e5aa;
	--darkGreen: #285430;
	--greenMistery: #164704;
	--pink: #f76f8e;
	--beige: #e5e5cb;
	--grey: #6b728e;
	--fantasy: #610094;
	--orange: #c84b31;
	--yellow: #f9f54b;
	--blue-light: #bbe1fa;
	--gold: #e6b325;
	--silver: #f5f5f5;
	--brown: #665a48;
	--electric-blue: #1957db;
}

html {
	font-size: 62.5%;
}

body {
	font-family: var(--font);
	background-color: var(--bgColor);
	color: var(--text-color);
}

.inactive {
	display: none;
}

.header__title {
	margin: 0 2.4rem 1.6rem 2.4rem;
	padding: 3.2rem 0 0 0;
	font-family: var(--font);
	font-size: 2.6rem;
	font-weight: 500;
	line-height: 45px;
	color: var(--text-color);
}
.header__container--arrow {
	margin-top: 4rem;
	margin-left: 2.4rem;
	margin-bottom: 2.4rem;
	cursor: pointer;
}

.header__title::before {
	content: '¡';
	color: var(--assents-color);
}

.header__title::after {
	content: '!';
	color: var(--assents-color);
}

.header__title--categoryView {
	margin: 0 2.4rem 1.6rem 2.4rem;
}

.header__searchForm {
	margin: 0 2.4rem 5.2rem 2.4rem;
	margin-bottom: 52px;
}

.header__searchForm--input {
	width: 227px;
	height: 50px;
	border-radius: 8px 0px 0px 8px;
	padding: 12px;
	width: 85%;
	background-color: var(--input-bg);
	border: 2px solid var(--assents-color);
	color: var(--text-color2);
}

.header__searchForm--input::placeholder {
	font-size: 1.2em;
	font-family: var(--text-font);
	font-weight: 100;
	color: var(--assents-color);
}

.header__container button {
	position: absolute;
	height: 50px;
	width: 15%;
	font-weight: 700;
	font-size: 2.2rem;
	border-radius: 0px 8px 8px 0px;
	background-color: var(--assents-color);
	border: none;
	cursor: pointer;
}

.header__container--long {
	background-image: url('https://pics.filmaffinity.com/Deadpool-777527803-large.jpg');
	background: linear-gradient(
			180deg,
			rgba(0, 0, 0, 0.35) 19.27%,
			rgba(0, 0, 0, 0) 29.17%
		),
		url(https://pics.filmaffinity.com/Deadpool-777527803-large.jpg);
	background-size: cover !important;
	height: 480px;
}

#search {
	width: 30%;
}

#trendingPreview {
	margin-bottom: 48px;
}

.trendingPreview__header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
	padding: 0px 24px;
}

.trendingPreview__movieList {
	display: flex;
	overflow: auto;
	white-space: nowrap;
	padding: 0px 24px;
}

.trendingPreview__title {
	font-family: var(--font);
	font-size: 1.8rem;
	font-weight: 500;
	color: var(--text-color);
}

.trendingPreview__btn {
	width: 76px;
	height: 30px;
	border-radius: 8px;
	background-color: var(--assents-color);
	color: var(--text-color);
	border: none;
	cursor: pointer;
}

.trendingPreview__movieList::-webkit-scrollbar {
	display: none;
}

.movie__container {
	height: 230px;
	padding: 2px;
	border-radius: 8px;
	margin: 2px;
}

.movie__container--skeleton {
	height: 230px;
	padding: 2px;
	border-radius: 8px;
	margin: 2px;
	width: 150px;
	background-color: #3c3b3b;
	animation: skeleton-loading 1s linear infinite alternate;
}

.movie__container .movie__img {
	width: 150px;
	height: 225px;
	border-radius: 8px;
	border: 3px solid var(--assents-color);
}

#categoriesPreview {
	padding: 0px 24px;
	color: var(--text);
}

.category__container--skeleton {
	width: 150px;
	height: 24px;
	background-color: #3c3b3b;
	margin-bottom: 10px;
	animation: skeleton-loading 1s linear infinite alternate;
	border-radius: 4px;
}
/* MOVIE DETAILS */

.movieDetail__container {
	display: grid;
	grid-template-columns: repeat(2, 50%);
	box-shadow: 0px -13px 3px rgb(158 158 158 / 21%);
	border-radius: 16px 16px 0px 0px;
}

.movieDetail__container > * {
	margin: 0 2.4rem;
}

.movieDetail__title {
	margin-top: 3.2rem;
	font-size: 2.8rem;
}

.score__container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: end;
}

.movieDetail__score {
	font-size: 1.6rem;
}

.score__container--star {
	width: 20px;
	height: 20px;
	margin: 0 2px;
}

.movieDetail__description {
	grid-column: span 2;
	font-size: 1.6rem;
	margin-top: 1.6rem;
}

.categories__list {
	grid-column: span 2;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	font-size: 1.6rem;
	margin-top: 2.4rem;
}

.relatedMovies__container {
	grid-column: span 2;
	margin-right: 0;
}

.relatedMovies__title {
	margin-top: 2.4rem;
}

.relatedMovies__scrollContainer {
	display: flex;
	overflow: auto;
	white-space: nowrap;
	padding: 0px 24px;
	margin-top: 1.6rem;
}

.relatedMovies__scrollContainer::-webkit-scrollbar {
	display: none;
}

/* CATEGORIES PREVIEW */

.categoriesPreview__container .categoriesPreview__title {
	font-family: var(--font);
	font-size: 1.8rem;
	font-weight: 500;
	margin-bottom: 24px;
	color: var(--text-color);
}

.categoriesPreview__list {
	display: grid;
	grid-template-columns: repeat(2, 160px);
	margin: 0 20px;
	gap: 0 3rem;
}

.category__title {
	font-family: var(--text-font);
	font-size: 1.6rem;
	font-weight: 200;
	margin-bottom: 8px;
	cursor: pointer;
	overflow: hidden;
	text-overflow: ellipsis;
	color: var(--text-color);
}

.category__title::before {
	content: '....';
	color: transparent;
	background-repeat: no-repeat;
	background-size: 22px;
	border-radius: 6px;
	margin-right: 4px;
	display: inline-block;
	width: 28px;
	height: 26px;
}

#id28::before {
	background-image: url('/assets/action-icon.png');
}

#id12::before {
	background-image: url('/assets/adventure-icon1.png');
}

#id16::before {
	background-image: url('/assets/animation-icon.png');
}

#id35::before {
	background-image: url('/assets/comedy-icon.png');
}

#id80::before {
	background-image: url('/assets/crime-icon.png');
}

#id99::before {
	background-image: url('/assets/documentary-icon.png');
}

#id18::before {
	background-image: url('/assets/drama-icon.png');
}

#id10751::before {
	background-image: url('/assets/family-icon.png');
}

#id14::before {
	background-image: url('/assets/fantasy-icon.png');
}

#id36::before {
	background-image: url('/assets/history-icon.png');
}

#id27::before {
	background-image: url('/assets/horror-icon.png');
}

#id10402::before {
	background-image: url('/assets/musical-icon.png');
}

#id9648::before {
	background-image: url('/assets/mistery-icon.png');
}

#id10749::before {
	background-image: url('/assets/romance-icon.png');
}

#id878::before {
	background-image: url('/assets/scifi-icon.png');
}

#id10770::before {
	background-image: url('/assets/tv-icon.png');
}

#id53::before {
	background-image: url('/assets/thriller-icon.png');
}

#id10752::before {
	background-image: url('/assets/war-icon.png');
}

#id37::before {
	background-image: url('/assets/western-icon.png');
}

#id19 {
	--idColor: var(--);
}

.genericList__container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin: 0px 2.4rem;
}

.genericList__container > .movie__container {
	display: flex;
	justify-content: center;
	position: relative;
	margin: 6px;
	border-radius: 8px;
}

.movie__title {
	position: absolute;
	color: var(--assents-color);
	padding: 10px;
	font-size: 1.2rem;
	font-weight: 500;
}

.btn__container {
	display: flex;
	justify-content: center;
}

.footer {
	width: 100%;
	left: 0;
	bottom: 0;
	margin-top: 16px;
	font-family: var(--font);
	font-size: 1.6rem;
	font-weight: 500;
	background-color: var(--assents-color);
	color: var(--bgColor);
}

.footer__rrss {
	display: flex;
	justify-content: center;
	padding-top: 5px;
}

.footer__rrss > a > img {
	width: 30px;
	margin: 1rem;
	cursor: pointer;
}

.footer_copyright {
	text-align: center;
	font-size: 1.2rem;
	padding-bottom: 5px;
}

@keyframes skeleton-loading {
	0% {
		background-color: #3c3b3b;
	}
	100% {
		background-color: #777777;
	}
}
