* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--font: 'Poppins', sans-serif;
	--text-color: #ffffff;
	--assents-color: #ffc700;
	--input-bg: #2b2b2b;
	--text-color2: #555555;
	--bgColor: #111111;

	--red: #ff1e1e;
	--thriller: #91050d;
	--blue: #3330e4;
	--purple: #4e31aa;
	--green: #03c988;
	--green-vintage: #76e5aa;
	--darkGreen: #285430;
	--greenMistery: #164704;
	--pink: #f76f8e;
	--beige: #e5e5cb;
	--grey: #6b728e;
	--fantasy: #610094;
	--orange: #c84b31;
	--yellow: #f9f54b;
	--blue-light: #bbe1fa;
	--gold: #e6b325;
	--silver: #f5f5f5;
	--brown: #665a48;
	--electric-blue: #1957db;
}

html {
	font-size: 62.5%;
}

body {
	font-family: var(--font);
	background-color: var(--bgColor);
	color: var(--text-color);
}

.inactive {
	display: none;
}

/* HEADER */

.header__container {
}

.header__container--short {
	display: flex;
	flex-direction: column;
}

.header__title {
	font-size: 2.4rem;
	padding-top: 4.2rem;
	margin: 0 2.4rem;
}

.header__title::before {
	content: '¡';
	color: var(--assents-color);
}

.header__title::after {
	content: '!';
	color: var(--assents-color);
}

.header__form {
	padding-top: 1.6rem;
	margin: 0 2.4rem;
}

.header__input {
	height: 50px;
	width: 82%;
	background-color: var(--text-color2);
	border-radius: 8px 0px 0px 8px;
	border: 0.5px solid var(--assents-color);
}

.form__btn {
	position: absolute;
	height: 50px;
	width: 15%;
	font-weight: 700;
	font-size: 2.2rem;
	border-radius: 0px 8px 8px 0px;
	background-color: var(--assents-color);
	border: none;
}

.form__img {
	width: 30%;
}

.header__container--long {
	background-image: url('https://pics.filmaffinity.com/Deadpool-777527803-large.jpg');
	background: linear-gradient(
			180deg,
			rgba(0, 0, 0, 0.35) 19.27%,
			rgba(0, 0, 0, 0) 29.17%
		),
		url(https://pics.filmaffinity.com/Deadpool-777527803-large.jpg);
	background-size: cover !important;
	height: 480px;
}

.header__arrow {
	margin: 3.2rem 0 0 2.4rem;
}
